<h1>Recipe: <%= @recipe.name %></h1>
<h2>Ingredients:</h2>

<% @recipe.ingredients.each do |i| %>
  <%= i.name %><br>
<% end %>
<br></br>

<h3>You can make <%=Recipe.matching_recipes(@recipe.all_ingredient_ids).count%> other recipes</h3>
